<h3>About me</h3>

<div style="margin-left:5%">
<p>
        <img src="img/logos/me_small.png"/>
        </p>
 <p>
              My name is Luís A. Bastião Silva. I was born in Maracay, Venezuela, but currently I'm living in Aveiro, Portugal.
            </p>
            <p>
              I have been working with Network Security and network adminstration in Umit Project and I'm a very intusiastic for Open Source projects. 
I did a master degree in Univeristy of Aveiro in Master of Science on Computer and Telematics Engineering (2006 - 2011).
            </p>
            <p>
              As a researcher, I've been working with healthcare records and medical imaging. I started working on Dicoogle project since 2008. Since then I've been working in indexing data from medical repository, share medical image in distributed enviroments and I've start working with Cloud Computing.
            </p>
            <p>
              I'm doing PhD (<a href="http://www.map.edu.pt/i" target="_new">MAPi program</a>), attended classes at <a href="http://www.fe.up.pt/" target="_new">FEUP (Faculdade de Engenharia da Universidade do Porto)</a>. and I'm enroled and working at <a href="http://www.ua.pt/" target="_new">Universidade de Aveiro</a>.
            </p>

</div>
<h3>
Professional Experience
</h3>

<div style="margin-left:5%">

<h4>
Researcher (PhD Student Biomedical Informatics)
</h4>
Main interesting topics: medical imaging, dicom, ihe, xds, radiation dose, information retrieval, cloud computing and semantic web.

<br />


<b>Organizations:</b> 
<a href="http://www.map.edu.pt/i" target="_new">MAPi program</a>, attended classes at <a href="http://www.fe.up.pt/" target="_new">FEUP (Faculdade de Engenharia da Universidade do Porto)</a>. I'm enroled and working at <a href="http://www.ua.pt/" target="_new">Universidade de Aveiro</a> and
<a href="http://www.ieeta.pt" target="_new">Institute of Electronics and Telematics Engineering of Aveiro (IEETA)</a> - <a href="http://bioinformatics.ua.pt" target="_new">Bioinformatics Group</a>




<h4>
Google Summer of Code 2007, 2008 and mentoring sincer 2009 to 2012.
</h4>
Network Scanner, Network Monitoring 
<br />
<br />

<b>Organizations: <a href="http://www.google-melange.com/" target="_new">Google</a> and <a href="http://www.umitproject.org">Umit Project</a></b> 



<h4>
Researcher/ Software developer / Network Administrator (January - June 2011)
</h4>

Server virtualization, datacenter mantainer, Services over the Private Cloud;
<br />
VMware ESXi; VirtualBox; CentOS
<br />
<br />



<h4>
Researcher/ Software developer (2010)
</h4>
Distributed Medical Imaging Over P2P Networks
<br />
<br />


<h4>
Junior Scholar Researcher (Scolarship 2008-2009)
</h4>
Distributed Systems, Networking, Indexers, DICOM (Digital Image and Communications in Medicine) Standard, PACS (Picture Archive and Communication Systems), P2P Networks, Software Programming (Java), Software Modeling (UML)

<br />
<br />

</div>

<h3>Books</h3>
<div style="margin-left:5%">
<ul>
<li>Guerrilla P.R. - Wired by Michael Levine</li>
<li>Setimo Selo</li>
<li>Cronica dos Bons Malandros</li>
<li>Nmap Network Scanning by Fyodor</li>
<li>Producing Open Source Software by Karl Fogel </li>
<li>TCP/IP Illustrated Volume 1 - The prottocol by W. Richard Stevenss  </li>
<li>TCP/IP Illustrated Volume 3 - TCP for Transactions , HTTP, NNTP, and the Unix Domain Protocols  by W. Richard Stevenss  </li>
<li>Beatiful Code 
Leading Programmers Explain How They Think Edited by Andy Oram &amp; Greg Wilson </li>
<li>Digital Imaging and Communications in Medicine (DICOM): A Practical Introduction and Survival Guide - 
Oleg Pianyk
</li>

<li>PACS and Imaging Informatics: Basic Principles and Applications
- H. K. Huang</li>
</ul>

</div>


<h3>My hobbies</h3>
<div style="margin-left:5%">
<ul>
<li>Swimming </li>
<li>Football</li>
<li>Gym</li>
<li>Mountain biking </li>
<li>Table tennis </li>
<li>Running </li>
<li>Tennis</li>

</ul>



I'd like to contribute to Open Source projects, and I'm a UNIX enthusiastic. I'm also have experience programming Raspberry Pi, Arduino, and some eletronic components (e.g. PIC18F2550, and other eletronic components developed in <a href="http://www.ua.pt/deti/" target="_new">DETI</a> to support classes). 
</div>

<h3>Organization events</h3>
<div style="margin-left:5%">
<ul>
<li>Dicoogle Hackthon</li>
<li>Smart Day (presentations with business angels)@ Universidade de Aveiro, Portugal</li>
<li>Top 12 - table tennis (2003) - National event</li>
</ul>
</div>
<h3>Around the world  </h3>
<div style="margin-left:5%">
<ul>
<li>Venezuela</li>
<li>Curaçao</li>
<li>Portugal </li>
<li>Spain</li>
<li>France </li>
<li>Beligum</li>
<li>Netherlands</li>
<li>Germany</li>
<li>U.S.A.</li>
<li>U.K.</li>
<li>Italy</li>
<li>Poland</li>
<li>Czech Republic</li>
<li>..</li>
</ul>

</div>
<h3>
Blogs
</h3>
<div style="margin-left:5%">

<a target="_blank" href="http://luisbastiao.wordpress.com/">Luis Bastiao - personal blog </a>

<br />


<br />
<a target="_blank" href="http://macosuser.blogspot.com/"> it's not about the mac it's about unix - a blog </a>
<hr>
</div>

