 <p>
              My name is Luís A. Bastião Silva. I was born in Maracay, Venezuela, but currently I'm living in Aveiro, Portugal.
            </p>
            <p>
              I have been working with Network Security and network adminstration in Umit Project and I'm a very intusiastic for Open Source projects. 
I did a master degree in Univeristy of Aveiro in Master of Science on Computer and Telematics Engineering (2006 - 2011).
            </p>
            <p>
              As a researcher, I've been working with healthcare records and medical imaging. I started working on Dicoogle project since 2008. Since then I've been working in indexing data from medical repository, share medical image in distributed enviroments and I've start working with Cloud Computing.
            </p>
            <p>
              Now I'm doing PhD (MAPi program), attending classes at FEUP (Faculdade de Engenharia da Universidade do Porto), but I'm still enroled with Universidade de Aveiro.
            </p>