<div class="contact row text-center">
                <a class="contact-big" href="">
                    <div><i class="icon-envelope"></i></div>
                    <div>luis.kop@gmail.com</div>
                </a>
                <a class="contact-big" style="cursor:default;">
                    <div><i class="icon-phone"></i></div>
                    <div>+351 916 427 877</div>
                </a>
                <a class="contact-big" style="cursor:default;">
                    <div><i class="icon-skype"></i></div>
                    <div>koplabs</div>
                </a>
            </div>