<div>

<div class="container">
        <h1>Luís Bastião</h1>
        <p>
        <img src="http://m.c.lnkd.licdn.com/media/p/2/000/0b2/2b6/33acc1f.jpg"/>
        </p>
        <p>I'm a PhD student in biomedical informatics and also software architecture and developer. My main interesting topics are: medical imaging, dicom, ihe, xds, radiation dose, information retrieval, cloud computing and semantic web.</p>

        <p><a class="btn btn-primary btn-lg" role="button"  ui-sref="publications">See my publications »</a></p>

        <p><a class="btn btn-primary btn-lg" role="button"  ui-sref="projects">See my projects »</a></p>
                <p><a class="btn btn-primary btn-lg" role="button"  ui-sref="about">Do you want to know more? »</a></p>


      </div>


<p style="text-align:center;">
<a target="_new" href="https://github.com/bastiao"><i class="fa fa-github fa-4x"></i> </a>
<a target="_new" href="http://www.linkedin.com/in/bastiao"><i class="fa fa-linkedin fa-4x"></i> </a>
<a target="_new" href="https://plus.google.com/+LuísBastiao"><i class="fa fa-google-plus fa-4x"></i> </a>
<a target="_new" href="https://www.facebook.com/lbastiao"><i class="fa fa-facebook fa-4x"></i></p></a>
</div>