<script>

$("body").css("height", "100%");
$("body").css("margin-top", "-261px");
$("body").css("padding-top", "261px");
$(".container").css("height", "100%");

</script>

<div style="height:100%">

<div class="container2">
        <h1><i class="fa fa-home fa-2x"></i> Luís Bastião</h1>
        
<div class="row ">
    <div class="col-lg-3">
        <p>
        <img src="img/logos/me_small.png"/>
        </p>
    </div>

    <div class="col-lg-9">
        

        <p>I'm a PhD student in biomedical informatics and also software creator and developer. I'm working at <a href="http://bioinformatics.ua.pt" target="_blank">Bioinformatics Group</a> at the <a href="http://www.ieeta.pt" target="_blank">Institute of Electronics and Telematics Engineering of Aveiro (IEETA)</a> in the <a href="http://www.ua.pt" target="_blank">University of Aveiro (UA)</a>.

        </p><p>
        My main interesting topics are: medical imaging, dicom, ihe, xds, radiation dose, information retrieval, cloud computing and semantic web.</p>
        

         <p><a class="btn btn-primary btn-lg" role="button"  ui-sref="publications"><i class="fa fa-pencil fa-1x"> </i> See my publications »</a></p>

        <p><a class="btn btn-primary btn-lg" role="button"  ui-sref="projects"><i class="fa fa-tag fa-1x"> </i> See my projects »</a></p>

        <p><a class="btn btn-primary btn-lg" role="button"  href="https://github.com/bastiao" target="_new"><i class="fa fa-github fa-1x"> </i> See my Github »</a></p>
                <p><a class="btn btn-primary btn-lg" role="button"  ui-sref="about"><i class="fa fa-users fa-1x"> </i>  Do you want to know more? »</a></p>


    </div>
</div>

<br />
<br />
       

      </div>

      
</div>