<script>
        


        </script>
        

<div style="height:100%">

    <div class="container2" style="">
        <h1><i class="fa fa-home fa-2x"></i> Luís Bastião Silva</h1>

        <div class="row ">
            <div class="col-lg-3">
                <p>
                    <img src="img/logos/me_one_2.jpg" />
                </p>
            </div>

            <div class="col-lg-9">
                <p>I'm currently working in <a href="http://www.bmd-software.com">BMD software</a>, a company that builds innovative software solutions for healthcare, combining simplicity with high-end technologies.</p>

                

        <p>I did PhD in biomedical informatics (former in November 2015), mainly focused in large scale applications and data integration for medical informatics. 
            I've was also software creator and developer. I worked at <a href="http://bioinformatics.ua.pt" target="_blank">Bioinformatics Group</a> at the <a href="http://www.ieeta.pt" target="_blank">Institute of Electronics and Telematics Engineering of Aveiro (IEETA)</a> in the <a href="http://www.ua.pt" target="_blank">University of Aveiro (UA)</a>.

                </p>

<p>
        I developed and implemented several information retrieval systems with Apache Lucene, Solr, and ElasticSearch. The expertise has been developed with focus to extract and integrate heterogeneous 
        data sources, which includes index, search and retrieval in several types of documents and databases. 
</p>
<p>
        My main programming and skills are: software architecture design, developing web applications in Java and Python (PlayFramework, Jetty, Django) 
        with HTML5, Javascript, React.JS, Angular 1, 4 and Node.JS. I’m also experience with deployment applications in productions, Windows Servers, UNIX (FreeBSD, OpenBSD, Linux distros), Docker, nginx, application servers (Tomcat, uwsgi, etc) 
        and general IT experience (for instance, experience with AWS Console, Google Console, Azure Services and VMWare ESXi, vCenter).
</p>

                <p>
                    My main interesting, research and innovations topics are: medical imaging, dicom, ihe, xds, radiation dose, information retrieval, cloud computing
                    and semantic web.</p>

                <p><a class="btn btn-primary btn-lg" role="button" ui-sref="publications"><i class="fa fa-pencil fa-1x"> </i> See my publications »</a></p>

                <p><a class="btn btn-primary btn-lg" role="button" ui-sref="projects"><i class="fa fa-tag fa-1x"> </i> See my projects »</a></p>

                <p><a class="btn btn-primary btn-lg" role="button" href="https://github.com/bastiao" target="_new"><i class="fa fa-github fa-1x"> </i> See my Github »</a></p>
                <p><a class="btn btn-primary btn-lg" role="button" ui-sref="about"><i class="fa fa-users fa-1x"> </i>  Do you want to know more? »</a></p>

            </div>
        </div>

        <br />
        <br />


    </div>

<!--
   <div class=" footer-s" style="background-color:#FFFFFF;color:#000000;height:100px;">
        
             <div class="row">
               <div class="col-md-4">
                      Contact me: 
        
               </div>
               <div class="col-md-4">
        
                    <div class="contact row text-center">
                      <a class="contact-big" href=""  style="cursor:default;color:#000000;">
                        <div></div>
                        <div> <i class="fa fa-envelope"></i>
                          luis.kop@gmail.com
                        </div>
                      </a>
                      <a class="contact-big" style="cursor:default;color:#000000;">
                        <div>
                          <div> <i class="fa fa-phone"></i>
                            +351 916 427 877
                          </div>
                        </div>
        
                      </a>
                      <a class="contact-big" style="cursor:default;color:#000000;">
                        <div></div>
                        <div>
                          <i class="fa fa-skype"></i>
                          koplabs
                        </div>
                      </a>
                </div>
               </div>
               <div class="col-md-4">
        
                 <p style="text-align:center;">
                 <a style="cursor:default;color:#000000;" target="_new" href="https://github.com/bastiao"><i class="fa fa-github fa-1x"></i> </a>
                 <a style="cursor:default;color:#000000;" target="_new" href="http://www.linkedin.com/in/bastiao"><i class="fa fa-linkedin fa-1x"></i> </a>
                 <a style="cursor:default;color:#000000;" target="_new" href="https:/twitter.com/luisbastiao"><i class="fa fa-twitter fa-1x"></i> </a>
                 <a style="cursor:default;color:#000000;" target="_new" href="https://plus.google.com/+LuísBastiao"><i class="fa fa-google-plus fa-1x"></i> </a>
                 <a style="cursor:default;color:#000000;" target="_new" href="https://www.facebook.com/lbastiao"><i class="fa fa-facebook fa-1x"></i></a>
                 <a class="btn btn-default btn-xs" role="button"  href="http://scholar.google.com/citations?user=xi5ItDMAAAAJ&hl=en" target="_new"><i class="fa fa-question-circle fa-1x"> </i> GS</a>
                 </p>
        
        
        
               </div>
             </div>

        
        
            </div>
-->

</div>
