<h2>Journal papers</h2>
<div style="margin-left:5%">
<p>
L. Bastião, R. Pinho, L. Ribeiro, C. Costa, J. L. Oliveira, "A centralized platform for geo-distributed PACS management ", Journal of Digital Imaging. 2013. 
</p>

<p>
L. Bastião, C. Costa and J. L. Oliveira, “A common API for delivering services over multi-vendor cloud resources”, Journal of Systems and Software. Elsevier. 2013. 
</p>

<p>
L. Bastião, C. Costa and J. L. Oliveira, “DICOM Relay over the Cloud”, International Journal of Computer Assisted Radiology and Surgery. Springer, 2012. 
</p>

<p>
L. Bastião, C. Costa, and J. L. Oliveira, “ A PACS archive architecture supported on Cloud services”, International Journal of Computer Assisted Radiology and Surgery. Springer, 2011.(DOI: 10.1007/s11548-011-0625-x) 
</p>

<p>
Carlos Costa, Luís Bastião, Carlos Ferreira, Luís S. Ribeiro, Augusto Silva, José Luís Oliveira. “Dicoogle - An Open Source Peer-to-Peer PACS” in Journal of Digital Imaging. 
</p>

</div>



<h2>Book Chapters</h2>
<div style="margin-left:5%">
<p>
Luis Bastião, Carlos Costa, and José Luís Oliveira, "Regional PACS over the Cloud." in Lineas estratégicas de las Tecnologías de la Información y las Comunicaciones en Salud - Red Ibero-NBIC, chapter 2 p21-32, CYTED, 2013. (ISBN 978-84-15413-18-9) 
</p>


<p>
Milton Santos, Luis Bastião, Carlos Costa, Augusto Silva, Nelson Rocha, "Clinical Data Mining in Small Hospital PACS: Contributions for Radiology Department Improvements". Chapter 16 in Information Systems and Technologies for Enhancing Health and Social Care 
</p>


<p>
Milton Santos, Luis Bastião, Carlos Costa, Augusto Silva, Nelson Rocha "DICOM and Clinical Data Mining in a Small Hospital PACS: A Pilot Study" - CENTERIS 2011 
</p>


</div>
<h2>Conference papers</h2>

<div style="margin-left:5%">
<p>
Luis Bastião, Carlos Costa and José Luís Oliveira. "An agile framework to support distributed medical imaging scenarios", in IEEE International Conference on Healthcare Informatics 2013 (ICHI 2013). Philadelphia, PA, USA. 2013. 
</p>



<p>
Luis Antonio Bastiao Silva, Samuel Campos, Carlos Costa and José Luis Oliveira, Integrating echocardiogram reports with medical imaging, 26th IEEE International Symposium on Computer-Based Medical Systems (CBMS 2013), Porto, Portugal, 2013 
</p>


<p>
Milton Santos, Luis Bastião, Carlos Costa, Augusto Silva, Nelson Rocha. "Multi Vendor DICOM Metadata Access: A Multi Site Hospital Approach Using Dicoogle", in 8th Iberian Conference on Information Systems and Technologies (CISTI 2013), Lisboa, Portugal. 2013. 
</p>


<p>
Tiago Godinho, Luís A. Bastião Silva, Carlos Viana-Ferreira, Carlos Costa and José Luís Oliveira. "Enhanced regional network for medical imaging repositories", in 8th Iberian Conference on Information Systems and Technologies (CISTI 2013), Lisboa, Portugal. 2013. 
</p>


<p>
L.A. Bastiao Silva, M. Santos, C. Costa, J. Oliveira, "Dicoogle statistics: analysing efficiency and service quality of digital imaging laboratories" - in CARS 2013 
</p>



<p>
Luis A. Bastiao Silva, Carlos Costa, Jose Luis Olveira. "A Secure PACS Cloud Archive" in CARS 2011, Berlin, Germany 
</p>



<p>
Luis A. Bastiao Silva, Carlos Costa, Jose Luis Olveira. "A DICOM RELAY SERVICE SUPPORTED ON CLOUD RESOURCES" in Healthinf 2012, Algarve, Portugal
</p>




<p>
Luís S. Ribeiro, Luís Bastião, Carlos Costa, José Luís Oliveira. “EMAIL-P2P GATEWAY to Distributed Medical Image Repositories” in HealthInf 2010, Valencia, Spain. 
</p>


<p>
L. Bastião, C. Costa, A. Silva and J. L. Oliveira, "A Pacs Gateway To The Cloud", in 6th Iberian Conference on Information Systems and Technologies (CISTI 2011), Chaves, Portugal. 2011 
</p>

<p>
Samuel Campos; Carlos Costa; Luís Bastião, "A Network Sensor for Medical Imaging Workflows", in 7th Iberian Conference on Information Systems and Technologies (CISTI 2012), Madrid, Portugal. 2012 
</p>


<p>
Eriksson J. Melicio Monteiro; Luis A. Bastião Silva; Carlos Costa; "CloudMed: Promoting Telemedicine Processes Over the Cloud", in 7th Iberian Conference on Information Systems and Technologies (CISTI 2012), Madrid, Portugal. 2012 
</p>
</div>